@charset "utf-8";

/* Body styles */
body {
	font-family: sans-serif;
	font-size: 150%;
	line-height: 1.4;
	width: fit-content;
	margin: 0 auto;
}

/* Header styles */
h1 {
  text-align: center;
}

header p {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

/* Section styles */
section {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5rem;
}

section article {
	border: 1px solid brown;
	box-shadow: 0 2px 14px cadetblue;
	padding: 2.5%;
	width: 25%;
	background-color: palegoldenrod;
}

article img {
	display: block;
	height: 150px;
	width: 90px;
}

/* Hover effect on articles */
article:hover {
	background-color: yellow;
	cursor: pointer;
}

section p {
  margin: 5px 0;
}

section ul {
  margin-top: 0;
}

h2 {
  margin-bottom: 10px;
}
